body
{
    margin: 0px;



    background-size: 40px 40px;
    background-image:
      linear-gradient(to right, #b1c9de 1px, transparent 1px),
      linear-gradient(to bottom, #b1c9de 1px, transparent 1px);
}


#logoHeader
{
    margin-top: 25px;
    margin-left: 20px;
    width: 100px;
    filter: drop-shadow(0 0px 0.1rem rgba(0, 0, 0, 0.294));
}

#header
{
    position: sticky;
    top: 0;
    z-index: 10;
    width: 100%;
    background-color: white;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.285);
    padding-bottom: 20px;
}

#shoppingCart
{
    padding: 20px;
    float: right;
    width: 30px;
}

#pageTitle
{
    width: calc(20vw + 20vh);
    margin: auto;
    margin-left: calc((100vw - (20vw + 20vh)) / 2);
    filter: drop-shadow(0 10px 0.75rem rgba(0, 0, 0, 0.394));
    transition: 0.2s;
}

.nonStickySeperator
{
    height: 100px;
    width: 100vw;
    position: relative;
    display: inline-block;
}

#colorChangeDiv
{
    pointer-events: none;
    z-index: 50;
    position: sticky;
    float: top;
    height: 100px;
    top: 10px;
    animation: float 3s infinite ease-in-out;

}

#colorChangeDiv *
{
    z-index: 50;
    animation: hue 10s infinite linear;
}

@keyframes hue  {
    from {
        filter: hue-rotate(0deg);
    }
    
    to {
        filter: hue-rotate(360deg);
    }
 }

 @keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-10px);
	}
	100% {
		transform: translatey(0px);
	}
}

#storeItemsContainer
{
    display: flex;
    gap: 50px 20px; /* row-gap column gap */
    padding: 100px;
    width: calc(100% - 200px);
    flex-wrap: wrap;
    filter: drop-shadow(0 10px 0.5rem rgba(0, 0, 0, 0.2));
    justify-content: space-around;
    /* align-items: center; */
}

.storeItem
{
    width: 20vw;
    padding: 20px;
    margin: auto;
    /* background-color: white; */
    /* border-radius: 20px; */

}

.storeItemImage
{
    width: 100%;
    filter: drop-shadow(0 2px 0.1rem rgba(0, 0, 0, 0.2));
}