.header{
    width: 100%;
    margin-top: 40vh;

    text-align: center;
    font-family: 'Raleway', sans-serif;

    font-size: 4vh;
    color: #353535;

    cursor: pointer;
}

.header.transition{
    width: 0%;
    position: -webkit-sticky; /* Safari */
    position: sticky;

    font-size: 2.5vh;
    margin-left: 2vh;
    margin-top: 2vh;

    color: #353535;
    background-color: white;
    white-space: nowrap;

    transition: margin-top 1s linear, width 1s linear;
}

.subheader{
    width: 100%;
    text-align: center;
    font-family: 'Raleway', sans-serif;

    font-size: 1.5vh;
    color: #707070;
}

.subheader.transition{
    width: 0%;

    font-size: 1.5vh;
    color: #707070;

    margin-top: -1vh;
    margin-left: 2vh;
    white-space: nowrap;
    transition: margin-top 1s linear, width 1s linear;
}


.downArrow{
    font-family: 'Raleway', sans-serif;
    font-size: 3vh;
    color: #707070;
    
    
    position: absolute;
    
    margin-top: 20vh;
    width: 100%;
    text-align: center;
    
    float: center;

    opacity: 1;
    animation: fade 3s infinite;
}

.downArrow.transition{
    animation: none;
    opacity: 0;
    transition: all 1s;
}

.contentImg
{
    height: 100%;
}

.contentBox {
    width: 50vw;
    height: 50vh;

    box-shadow: 0 0 8px #b6b6b6;

    border-radius: 10px;
    margin-top: 10vh;

    overflow: hidden;
}

.leftContent {
    float: left;
}

.rightContent {
    float: right;
}

.contentText {
    height: auto;
    max-height: 50vh;
    overflow-y: scroll;
    width: 35vw;
    background-color: white;

    -ms-overflow-style: none;
}

.contentText::-webkit-scrollbar {
    display: none;
  }

.gradientBox{
    position: absolute;
    top: 80vh;
    left: 0;
    margin-left: 0;
    margin-right: 0;

    width: 100%;
    height: 50vh;

    float: left;
    overflow: hidden;

    background: rgb(91, 74, 160);
    background: linear-gradient(18deg, rgb(91, 74, 160) 0%, rgba(147,255,241,1) 100%);

    z-index: -1;

}

.titleWP {
    position: absolute;
    top: 10%;
}

.footer {
    margin-top: 10vh;

    float: left;
    height: 10vh;
    width: 100%;

    background: rgb(159,142,226);
    background: linear-gradient(18deg, rgba(159,142,226,1) 0%, rgba(147,255,241,1) 100%);

    text-align: center;
    padding-top: 3vh;

    color: white;
    font-size: 2vh;
    font-family: 'Work Sans', sans-serif;
}

#content{
    height: auto;
    margin: 0 auto;
    padding-bottom: 10vh;
}

#scrollStart{
    position: absolute;
    top: 95vh;
}

#clicker{
    float: left;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

.entry{
    display: block;
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
}

h1 {
    font-family: 'Work Sans', sans-serif;
    font-size: 2.8vh;
    color: #353535;
    text-align: center;
    margin-top: 3vh;
}

h1 a{
    color: #353535;
    text-decoration: none;
}

h2 {
    padding: 2vh;
    padding-top: 0;
    line-height: 2.5vh;

    font-size: 1.5vh;
    color: #707070;
    font-family: 'Raleway', sans-serif;
}

body {
    margin: 0;
    padding: 0;

    overflow-x: hidden;
}

@keyframes fade {
    0%,100% { opacity: .1 }
    50% { opacity: 1 }
}

@media only screen and (min-width: 2000px) {

    .contentBox{
        width: 1000px;
    }

    .entry{
        width: 1800px;
        margin-left: calc( (100vw - 1800px) / 2);
    }

    .contentText {
        width: 700px;
    }
}

@media only screen and (max-width: 950px) {
   
    .contentBox{
        margin: 0;
        margin-top: 10vh;
        left: 0;
        border-radius: 0;
    }
    
    .leftContent {
        width: 100%;
    }

    .rightContent
    {
        width: 100%;
    }

    .contentText {
        
        margin-top: 0vh;
        width: 100%;
    }

    .entry{
        margin: 0;
        width: 100%;
    }
}