:root {
    --accentColor: white;
}

body, html {
    overflow-x: hidden;
}

body
{
    margin: 0;
    padding: 0;
    position: relative;
    overflow-x: hidden;
    width: 100vw;
}

#siteWrapper
{
    width: 100vw;
    overflow-x: none;
    position: relative
}

h1 {
    font-family: 'Raleway', sans-serif;
    width: 100%;
    text-align: center;
    padding-top: 10vh;
    font-size: 6vh;
    color: #2b2b2b;
}

svg
{
    z-index: -1;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    width: 100%;
    text-align: center;
    font-size: 3.5vh;
    color: #5a5a5a;
}

.imgHeader{
    width: 50%;
    padding-left: 25%;
    padding-right: 25%;

    padding-top: 15vh;
    padding-bottom: 5vh;
}

#title{
    padding-top: 20vh;
    width: 100%;
    height: 70vh;
}

#header{
    font-family: 'Open Sans', sans-serif;
    font-size: 900%;
    color: white;
    -webkit-text-stroke: 2px rgb(54, 54, 54);
    text-shadow: 0px 0px #ffffff;
    transition: text-shadow 1s;
    margin-bottom: 0;
}


#subHeader{
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    font-size: 350%;
    opacity: .75;
    color: rgb(48, 48, 48);
    transition: opacity 2s;
}

#unityGames
{
    width: calc(35% * 192 / 108);
    height:  calc(55vw * 108 / 192);
    
    border-radius: 8px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.452);
    overflow: hidden;
    background-color: black;

    position: relative;
    display: inline-block;
    vertical-align: middle;
}

#gamesContainer
{
    width: 75vw;
    margin: auto;
    vertical-align: center;
    text-align: center;
}

#webDesignDiv{
    width: 100%;
    margin: auto;
    vertical-align: center;
    text-align: center;
}

#webDevTitle{
    font-family: 'Courier Prime', monospace;
    font-size: 500%;
}

.divCaption
{
    font-family: 'Raleway', sans-serif;
    width: 60%;
    margin-left: 20%;
    text-align: left;
    margin-top: 15vw;
    /* text-shadow: 1px 1px 0px white; */
}

.websiteCaption
{
    margin-top: 5vw;
}

.websiteTitle
{
    margin-top: 5vh;
    font-size: 400%;
    color: black;
    font-weight: 600;
    text-align: left;
}

.websiteDescription
{
    font-size: 250%;
    color: rgb(104, 104, 104);
    font-weight: 300;
}

#profilePicture
{
    width: 50vh;
    height: 50vh;
    border-radius: calc(25vh + 10px);
    border: 10px solid white;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.404);
    margin-left: calc(50% - 25vh - 10px );
    margin-bottom: 5vh;
}

.logoHolder
{
    width: 70%;
    margin-left: 15%;
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 10vh;
}

.appLogo
{
    display: inline-block;
    width: 10vh;
    vertical-align: top;
    margin: .75vh;
    overflow: visible;
}

.appLogo:hover .logoIcon{
    transform: translateY(-10px);
}

.appLogo:hover .logoCaption{
    opacity: 1;
    transform: translateY(-10px);
}

.logoIcon
{
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 5vh;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.404);

    transition: all .1s ease-in-out;
}

.logoCaption{
    display: inline-block;
    opacity: 0;
    font-size: 2.5em;
    width: 200%;
    margin-left: -50%;
    text-align: center;
    transform: translateY(-20px);
    transition: all .1s ease-in-out;
    font-family: 'Raleway', sans-serif;
    margin-top: 10px;
}

.constrainedWidth
{
    font-size: 1vw;
    width: 100%;
}

#spacebaseimg{
    height: 100%;
    margin: auto;
    background-position: center;
}

span
{
    font-size: 200%;
}

#scrollDown
{
    margin-top: -20%;
    margin-left: calc(50% - (5vh + 2.5vw) / 2);
    width: calc(5vh + 2.5vw);
    opacity: .1;

    animation: fade 4s linear infinite;
}

.testBox
{
    position: absolute;
    display: inline-block;
    width: 200px;
    height: 200px;
    background-color: teal;
}

@keyframes fade {
    50% { opacity: .5}
  }

@media screen and (min-width: 900px) {

    /* #webWindow
    {
        width: 100%;
    } */

    /* .imgHeader {
        width: 500px;

        padding-left: calc(50vw - 250px);
        padding-right: calc(50vw - 250px);
    } */
    #webDevTitle
    {
        font-size: 5em;
    }
    .constrainedWidth
    {
        /* background-color: #2b2b2b67; */
        font-size: 8px;
        width: 900px;
        margin-left: calc(100vw / 2 - 450px);
    }

    #gamesContainer
    {
        width: 675px;
    }

    #unityGames
    {
        height:  calc(278px);
    }
}

@media screen and (max-width: 600px) {

    .gameCaption
    {
        margin-top: -3vw !important;
    }
}

.circles{
    border-radius: 50%;
    /* opacity: .5; */

    display: flex;
    position: absolute;
z-index: -1;

    transform: translateZ(3px) scale(1.625);
    /* transform: translateZ(0px);
    animation: animateZ 2s infinite;
    perspective: 8px;
    perspective-origin: 50%; */
}

/* 