body
{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100vw;
}

#siteWrapper
{
    width: 100vw;
    overflow-x: none;
    position: relative
}

h1 {
    font-family: 'Raleway', sans-serif;
    width: 100%;
    text-align: center;
    padding-top: 10vh;
    font-size: 6vh;
    color: #2b2b2b;
}

svg
{
z-index: -1;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    width: 100%;
    text-align: center;
    font-size: 2.5vh;
    color: #7a7a7a;
}

.imgHeader{
    width: 50vw;
    padding-left: 25vw;
    padding-right: 25vw;

    padding-top: 10vh;
    padding-bottom: 10vh;
}

#title{
    padding-top: 25vh;
    width: 100%;
    height: 70vh;
}

#header{
    font-family: 'Open Sans', sans-serif;
    font-size: calc(7vw);
    color: white;
    -webkit-text-stroke: 3px rgb(54, 54, 54);
    text-shadow: 4px 4px #6d8da78f;
}


#subHeader{
    font-weight: 600;
    font-size: 3.5vh;
}

#gamesContainer
{
    width: fit-content;
    margin: auto;
    vertical-align: center;
}

#unityGames
{
    width: calc(35vw * 192 / 108);
    height: 35vw;
    border-radius: 8px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.452);
    overflow: hidden;

    position: relative;
    display: inline-block;
    vertical-align: middle;
}

#webDesignDiv{
    width: fit-content;
    margin: auto;
    vertical-align: center;
}


#webDevTitle{
    font-family: 'Courier Prime', monospace;
    font-size: 5vw;
}

.websiteCaption
{
    font-family: 'Raleway', sans-serif;
    width: 65vw;
    margin-left: 17.5vw;
    text-align: left;
}

.websiteTitle
{
    margin-top: 5vh;
    font-size: 30px;
    color: black;
    font-weight: 600;
    text-align: left;
}

.websiteDescription
{
    color: rgb(104, 104, 104);
    font-weight: 300;
}

#profilePicture
{
    width: 50vh;
    height: 50vh;
    border-radius: calc(25vh + 10px);
    border: 10px solid white;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.404);
    margin-left: calc(50vw - 25vh - 10px );
    margin-bottom: 5vh;
}

.logoHolder
{
    width: 70vw;
    margin-left: 15vw;
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 10vh;
}

.appLogo
{
    display: inline-block;
    width: 10vh;
    vertical-align: top;
    margin: 1vh;
    text-align: center;
}

.appLogo:hover .logoIcon{
    transform: translateY(-10px);
}

.appLogo:hover .logoCaption{
    opacity: 1;
    transform: translateY(-10px);
}

.logoIcon
{
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 5vh;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.404);

    transition: all .1s ease-in-out;
}

.logoCaption{
    display: inline-block;
    opacity: 0;
    transform: translateY(-20px);
    transition: all .1s ease-in-out;

    font-family: 'Raleway', sans-serif;
}

@media screen and (min-width: 992px) {
    .imgHeader {
        width: 500px;

        padding-left: calc(50vw - 250px);
        padding-right: calc(50vw - 250px);
    }
    #webDevTitle
    {
        font-size: 2.5em;
    }
}
  

#spacebaseimg{
    height: 100%;
    margin: auto;
    background-position: center;
}